
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhum Farmacêutico Cadastrado
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}">
	</div>
	<div th:if="${not #lists.isEmpty(lista)}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Endereço</th>
					<th>Email</th>
					<th>CRM</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="farmaceutico:${lista}">
					<td th:text="${farmaceutico.id}"></td>
					<td th:text="${farmaceutico.nome}" > </td>
					<td th:text="${farmaceutico.endereco}"></td>
					<td th:text="${farmaceutico.email}"></td>
					<td th:text="${farmaceutico.crm}"></td>
					<td><a class="btn btn-primary btn-sm" th:href="@{/farmaceutico/editar(id=${farmaceutico.id})}">Editar</a>
					<a class="btn btn-danger btn-sm" th:href="@{/farmaceutico/excluir(id=${farmaceutico.id})}">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</html>